.white-strip
  .wrapper.padding2
    .title
      В массажный салон Виолет
      требуются массажистки
      %br
      %span.light 80 000 - 120 000 рублей
      в месяц



.wrapper.padding1
  .benefits-header
    Условия работы:
  .benefits
    .benefit
      Женщина от 18 до 35 лет
    .benefit
      Без интима
    .benefit
      Вы получаете от 80 000 рублей в месяц
    .benefit
      Сменный график 2/2
    .benefit
      Наличие опыта не обязательно
    .benefit
      Всему научим и обучим




.wrapper
  .phone
    8 964 587 61 62
    .small
      (Директор Анна)


.wrapper
  .order-button
    Хочу у вас работать

#map

.modal-overlay
.modal-dialog
  .header
    Заполните форму
  .body
    %form{action: '#'}
      %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
      %button#send-order
        Отправить

.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами уже очень скоро.


    %button#hide-thank-you
      Я буду ждать!


%script#balloon-template{type: :template}
  .balloon
    .content
      м. Краснопресненская
      %br
      Волков переулок, дом 13
      %br
      8 964 587 61 62
    .arrow-up