%html
  %head
    = css :application
    = js :application
    %script{src:'http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU'}
    %title
      Работа массажисткой в Москве
  %body
    = yield
    = erb :metrika